.ja{
background-color: rgb(42, 42, 42);	/* bakrunnfarge*/
border: 2px solid black;	/*Social siden med ramme runt, og tykkelse på ramme */
border-radius:12px0;
padding: 2px;
font-size: 120%;
text-align: center;
color: white;	/*Farge for inne i picture*/

}

.navbar_button a {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
	text-align: center;
}
.navbar_button a:hover {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(255, 0, 0);
    background-color: grey;

}








